@model Webnhatro_1900123.Models.TinTuc

@{
    ViewData["Title"] = "Tạo mới";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
<link rel="stylesheet" href="~/Template/dist/assets/vendors/quill/quill.snow.css"/> 

<h1>Đăng tin</h1>

@using (Html.BeginForm("Create","TinTuc" ,FormMethod.Post,new {@enctype="multipart/form-data"}))
{
<hr />

<div class="card-content">
	<div class="card-body">
		 <form class="form form-vertical" method="post">
			 <div class="row">
				 <div class="col-12">
						<div class="form-group has-icon-left">
							<label for="first-name-icon">Tiêu đề tin</label>
							<div class="position-relative">
								<input type="text" class="form-control" asp-for="Title" placeholder="Nhập tiêu đề">
								<div class="form-control-icon"><i class="bi-layout-three-columns"></i></div>
							</div>
						</div>
                  </div>
				 
				   <div class="col-12 ">
						<div class="form-group has-icon-left">
							<label for="first-name-icon">Ảnh</label>
							<div class="position-relative">
							<input asp-for="Anh" id="files" name="files" type="file" accept="image/*" />  	
									
							</div>
						</div>
				   </div>
				   <div class="col-12 bg-white">
						<div class="form-group">
							<label for="first-name-icon">Nội dung tin</label>
							<div class="position-relative">
								<input  name="NoiDung" type="hidden" asp-for="NoiDung">
								<div id="editor-container"></div>
							</div>
						</div>
                  </div>
			 </div>
			 <div class="mb-3 mt-2">
				 <input class="btn btn-primary me-1 mb-1 position-absolute" style="margin:auto;display:block" type="submit" value="Create">
			 </div>
			 

		 </form>
	</div>
</div>


<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>
}
<script src="~/Template/dist/assets/vendors/quill/quill.min.js"></script>
<script src="~/js/app.js"></script>
@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
